body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: absolute;
　　top: 0
  width: 100vw;
  height: 100vh;
}

.dog-enter {
  opacity: 0.01;
}

.dog-enter.dog-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.background {
  top: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: black;
  position: absolute;
}

.about {
  display: none;
  z-index: 3;
  margin: 20vh;
　　color: white;
}

#content{
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  
}

.portfolio-page {
  padding-left: auto;
  padding-right: auto;
  padding-top: 50vh;
  width: 100vw;
  height: 45vh;
  position: absolute;
  top: 0;
  left: 0;
}

.another-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.main-container {
  width: 300px;
  margin: 0 auto;
  float: none;
}

.left-vertical-text {
  transform: rotate(270deg);
  transform-origin: left top 0;
  float: none;
  position: absolute;
  left: 0;
  top: 50vh;
}

.left-button {
　　float: none;
  position: absolute;
  left: 0;
  top: 50vh;
}

.right-vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
  float: none;
  position: absolute;
  left: 98vw;
  top: 50vh;
}

.name {
  text-align: center;
  font-size: 2.5em;
}

.post {
  text-align: center;
  font-size: 1.5em;
}

.title {
  font-size: 3em;
  font-family: Gza;
  color: white;
}

.sub-title {
  font-size: 2em;
  font-family: Gza;
  color: white;
}

.column-title {

}

.plain-text {
  font-family: Gza;
  color: white;

}

.down-arrow {
  text-align: center;
}
