body {
  padding-left: auto;
  padding-right: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
　　width: 100vw;
}

#content{
  padding: inherit;
  width: inherit;
  position: inherit;
}

.portfolio-page {
  padding: inherit;
  padding-top: 50vh;
  width: 100vw;
  height: 45vh;
  position: absolute;
  top: 0;
  left: 0;
}

.main-container {
  width: 200px;
  margin: 0 auto;
  position: absolute;
}

.left-vertical-text {
  transform: rotate(270deg);
  transform-origin: left top 0;
  float: left;
}

.right-vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
  float: right;
}

.title {
  
}

.sub-title {

}

.column-title {

}

.plain-text {

}

.down-arrow {

}
